@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a.active {
  color: red;
}

/* .iframe-wrapper-1 {
  filter: invert(1);
}

.iframe-wrapper-2 {
  filter: hue-rotate(180deg) saturate(800%) brightness(100%);
}

#mlb2-11549348.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  max-width: 100% !important;
}
 */
